<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <header>
        <h1>Admin Dashboard</h1>
    </header>
    <div>
        <nav>
            <ul>
                <li><a style="cursor: pointer;" routerLink="/manage-user">Manage Users</a></li>
                <li><a style="cursor: pointer;" routerLink="/item-storage">Item Storage</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
